@font-face {
    font-family: 'Raleway';
    src: url('raleway.bold.eot');
    src: url('raleway.bold.eot?#iefix') format('embedded-opentype'),
         url('raleway.bold.woff2') format('woff2'),
         url('raleway.bold.woff') format('woff'),
         url('raleway.bold.ttf') format('truetype'),
         url('raleway.bold.svg#raleway-bold') format('svg');
    font-weight: 800;
    font-style: normal;
}
