@font-face {
    font-family: 'Open Sans';
    src: url('opensans.italic.eot');
    src: url('opensans.italic.eot?#iefix') format('embedded-opentype'),
         url('opensans.italic.woff2') format('woff2'),
         url('opensans.italic.woff') format('woff'),
         url('opensans.italic.ttf') format('truetype'),
         url('opensans.italic.svg#opensans.italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
