@font-face {
    font-family: 'Raleway';
    src: url('raleway.semibold.eot');
    src: url('raleway.semibold.eot?#iefix') format('embedded-opentype'),
         url('raleway.semibold.woff2') format('wof2f'),
         url('raleway.semibold.woff') format('woff'),
         url('raleway.semibold.ttf') format('truetype'),
         url('raleway.semibold.svg#raleway-semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
