@font-face {
    font-family: 'Open Sans';
    src: url('opensans.light.eot');
    src: url('opensans.light.eot?#iefix') format('embedded-opentype'),
         url('opensans.light.woff2') format('woff2'),
         url('opensans.light.woff') format('woff'),
         url('opensans.light.ttf') format('truetype'),
         url('opensans.light.svg#raleway-light') format('svg');
    font-weight: 300;
    font-style: normal;
}
