@font-face {
    font-family: 'Open Sans';
    src: url('opensans.bolditalic.eot');
    src: url('opensans.bolditalic.eot?#iefix') format('embedded-opentype'),
         url('opensans.bolditalic.woff2') format('woff2'),
         url('opensans.bolditalic.woff') format('woff'),
         url('opensans.bolditalic.ttf') format('truetype'),
         url('opensans.bolditalic.svg#opensans.bolditalic') format('svg');
    font-weight: 800;
    font-style: italic;
}
